html {
  /* this makes sure the padding and the border is included in the box sizing */
  overflow: hidden;
}

html body {
  padding: 0;
  margin: 0;
}

.index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
}

.pageContainer {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 7%;
  position: relative;
}
